body {
	background-image: url(https://cdn-images-1.medium.com/max/1600/0*YwCtEBXPvfupval3);
	background-size: cover;
}

h1 {
	color: white;
	text-align: center;
	font-size: 300%;
}

h3 {
	color: white;
	text-align: right;
}