body {
	background-image: url(https://c8.alamy.com/comp/EPT884/secondhand-paperback-books-for-sale-in-hay-on-wye-powys-wales-uk-EPT884.jpg);
	background-size: cover;
}

h1 {
	color: white;
	text-align: center;
	font-size: 300%;
}

h3 {
	color: white;
	text-align: right;
}